{% extends 'registration/layouts/form_layout.html' %}
{% load static %}


{% block head %}
    <script>
        $(document).ready(()=> {
            inputs = $('input[type="text"], input[type="password"]').addClass('form-control');

        })
    </script>
<style>
</style>
{% endblock %}

{% block title %}
	Login
{% endblock %}


{% block body %}
        <div class="inline-form-container rounded-5 border border-3 border-info text-info-emphasisu">
            <div class="mb-5 text-center">
		<h1 class="mb-0 text-info"><strong>XALLERY</strong></h1>
                <p>Login</p>
            </div>

            {% if form.errors %}
                {% for subject in form %}
                    {% for error in subject.errors %}
                        <p class="alert alert-danger">n{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form method="post" >
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <div class="row mt-3">
                    <div class="col">
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                </div>
		<div class="row mt-5">
		    <div class="col text-center">
			<input id="submit-btn" type="submit" class="btn btn-outline-info w-50" value="Login">
		    </div>
		</div>
		<div class="row mt-3">
		    <div class="col text-center ">
			<p><a class="text-info " href="{% url 'create-user' %}">Create new account</a></p>
		    </div>
		    <div class="col text-center ">
			<p><a class="text-info" href="{% url 'password_reset' %}">Lost password?</a></p>
		    </div>
		</div>
            </form>
</div>
{% endblock %}
