{% extends 'registration/layouts/form_layout.html' %}

{% block head %}
{% endblock %}

{% block title %}
	password reset
{% endblock %}


{% block body %}
<div class="form-container">
    <div class="inline-form-container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class"col">
                    {{ form.email.label }}
                     {{ form.email }}
                     <div class="form-text">
                         enter the same email you used to register to this website.
                     </div>
                </div>
            </div>
             <div class="text-center">
                <input class="btn btn-secondary mt-2  submit-btn" type="submit" value="send">
             </div>
        </form>
    </div>
</div>
{% endblock %}
