{% extends 'registration/layouts/form_layout.html' %}

{% block head %}
{% endblock %}

{% block title %}
	password change
{% endblock %}


{% block body %}
<div class="form-container ">
    <div class="inline-form-container">
        {% if form.errors %}
            {% for subject in form %}
                {% for error in subject.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col">
                    {{ form.old_password.label }}
                    {{ form.old_password }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    {{ form.new_password1.label }}
                    {{ form.new_password1 }}
                    <div class="form-text">
                        {{ form.new_password1.help_text }}
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    {{ form.new_password2.label }}
                    {{ form.new_password2 }}
                    <div class="form-text">
                        {{ form.new_password2.help_text }}
                    </div>
                </div>
            </div>
            <input class="btn btn-secondary mt-3 submit-btn" type="submit" value="change">
        </form>
    </div>
</div>
{% endblock %}
