{% extends 'registration/layouts/form_layout.html' %}

{% block head %}
{% endblock %}

{% block title %}
	password reset
{% endblock %}


{% block body %}
    <div class="inline-form-container rounded-5 border border-3 border-info text-info-emphasis">
        <div class="mb-5 text-center">
		<h1 class="mb-0 text-info"><strong>XALLERY</strong></h1>
		<p>Password reset</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class"col">
                     {{ form.email.label }}
                     {{ form.email }}
                     <div class="form-text">
                         enter the same email you used to register to this website.
                     </div>
                </div>
            </div>
             <div class="text-center">
                <input class="btn btn-outline-info w-50 mt-4  submit-btn" type="submit" value="send">
             </div>
        </form>
</div>
{% endblock %}
