{% extends 'registration/layouts/form_layout.html' %}

{% block head %}
{% endblock %}

{% block title %}
{% endblock %}


{% block body %}
<div class="form-container">
    <div class="inline-form-container">
        {% if validlink %}
            <h3 class="text-center mb-5"><strong>Please enter (and confirm) your new password</strong></h3>
            {% if form.errors %}
                {% for subject in form %}
                    {% for error in subject.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class"col">
                        {{ form.new_password1.label }}
                         {{ form.new_password1 }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class"col">
                        {{ form.new_password2.label }}
                         {{ form.new_password2 }}
                    </div>
                </div>
                <div class="text-center">
                   <input class="btn btn-secondary mt-2  submit-btn" type="submit" value="Reset">
                </div>
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been
            used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

