{% extends 'registration/layouts/auth_layout.html' %}

{% block head %}
{% endblock %}

{% block title %}
    {{ user.username }}
{% endblock %}


{% block body %}
    <section id="personal-info">
        <div class="mb-3">
            {% if user.get_full_name %}
                <h1 class="mb-0"><strong>{{ user.get_full_name|capfirst }}</strong></h1>
            {% else %}
                <h1 class="mb-0"><strong>{{ user.username|capfirst }}</strong></h1>
            {% endif %}
            {% if user.discription %}
                <p>
                    {{ user.discription|capfirst }}     
                </p>
            {% endif %}
        </div>
        {% if user.email %}
        <div class="mb-3">
        <h4 class="mb-0">Contact: </h4>{{ user.email }}
        </div>
        {% endif %}
        {% if request.user == user %}
        <div class="btn-group dropend">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded='false'>
                Actions
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'password_reset' %}">reset-password</a></li>
                <li><a class="dropdown-item" href="{% url 'password_change' %}">change-password</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">login</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            </ul>
        </div>
        {% endif %}
        <hr>
        <div>
            <h1>Rooms: </h1>
        </div>
    </section>

    <div class="rooms-container ">
        {% if user.rooms.all|length != 0 %}
            {% for room in user.rooms.all %}
                <a class="text-decoration-none text-secondary" href="{{ room.get_absolute_url }}">
                    <div class="room-container">
                        {% if room.background %}
                            <div class="room-image">
                                <img src="{{ room.background.url }}" class="img-fluid" alt="" loading="lazy">
                            </div>
                        {% endif %}
                      <div class="room-body m-1 p-2">
                          <h3 class="card-title text-light">{{ room.name|capfirst }}</h3>
                          <p class="card-text">{{ room.discription|capfirst }}</p>
                      </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            {% if request.user == user %}
                <p class="text-light">you don't have any rooms. create new room from  <a href="{% url 'add-room' %}">here</a></p>
            {% else %}
                <p class="text-light">This user doesn't have any rooms.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
