{% extends 'gallery/layouts/display.html' %}

{% block title %}
	{{ room.name }}
{% endblock %}

{% block head %}
<style>

.picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.pictures-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
    margin-bottom: 2em;
    transition: all 0.1s ease;
    
}
.picture-container, .picture-container img  {
    position: relative;
    border-radius: 10px;
}

@media (max-width: 65em) {
    .pictures-container {
        grid-template-columns: auto auto;
    }
    

}

@media (max-width: 45em) {
    .pictures-container {
        grid-template-columns: auto;
    

}

}

.option-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    z-index: 2;
    transition: all 0.1s ease;
    background-color: transparent;

}
.option-btn::after {
    display: none;

}

.option-btn:hover, .option-btn:focus {
    background-color: gray;
    border-color: transparent !important;
}

</style>
<script>
    $(document).ready(()=> {
        const addPictureForm = $("#AddPictureForm");

        const DeleteRoomForm = $("#del-room-form");



        $("#AddPictureButton").click(()=> {
            addPictureForm.submit();
        })

        $("#del-room-btn").click(() => {
            DeleteRoomForm.submit();
        })

        $("#id_room").hide()
        $("label [for='id_room']").hide()

        
    })
</script>

{% endblock %}

{% block content %}

    <header>
        <h1 class="mb-0"><strong>{{ room.name }}</strong></h1> 
        <p class="m-0">{{ room.discription }}</p>

            <div>
                <h4 class="mb-0 mt-4"><strong>Owner :</strong></h4>
                <a title="{{room.owner.get_full_name}}" class="ms-1 text-secondary text-decoration-none" href="{{ room.owner.get_absolute_url }}"<p>{{ room.owner.username }}</p></a>
            </div>

            {% if request.user == room.owner %}
            <div class="btn-group dropend">
                <button class="btn btn-sm btn-outline-light dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded='false'>
                    Options
                </button>

                <ul class="dropdown-menu">
                    <li class="d-flex align-items-center dropdown-item">
                        <i class="fa-solid fa-edit fa-lg text-secondary "></i>
                        <a class="dropdown-item" href="{% url 'edit-room' room.pk %}">Edit room</a>
                    </li>
                    <li class="d-flex align-items-center dropdown-item">
                        <i class="fa-solid fa-add fa-lg text-secondary "></i>
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#AddRoom">Add picture</button>
                    </li>


                    <hr class="m-1">

                    <li class="d-flex mb-0 align-items-center dropdown-item">
                        <i class="fa-solid fa-trash fa-lg text-danger "></i>
                        <button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#ConfirmRoomDeletion">Delete room</button>
                    </li>
                </ul>
            </div>

            <div class="modal modal-alert fade" id="ConfirmRoomDeletion" data-bs-backdrop="dynamic" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ConfirmRoomDeletionLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-body">
                            <h5 class="modal-title text-center fs-5" id="ConfirmRoomDeletionLabel"><span class="text-danger">Delete Room</span></h5>
                            <p class="mb-0">Are you sure you want to delete this room? all pictures will be deleted forever</p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0"> 
                            <button type="button" class="btn text-light btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" data-bs-dismiss="modal">Close</button>
                            <button id="del-room-btn" type="button" class="btn text-danger btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0">Delete</button>
                            <form id="del-room-form" class="" action="{% url 'delete-room' room.pk %}" method="post">
                                {% csrf_token %}
                           </form> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal modal-alert fade" id="ConfirmPictureDeletion" data-bs-backdrop="dynamic" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ConfirmRoomDeletionLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-body">
                            <h5 class="modal-title text-center fs-5" id="ConfirmRoomDeletionLabel"><span class="text-danger">Delete Picture</span></h5>
                            <p class="mb-0 p-3  text-center">Are you sure you want to delete this Picture ? </p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0"> 
                            <button type="button" class="btn text-light btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" data-bs-dismiss="modal">Close</button>
                            <button id="confirm-picture-deletion" type="button" class="btn text-danger btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-alert fade" id="AddRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddRoomLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-body p-4">
                            <form id="AddPictureForm" action="{% url 'add-picture'%}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </form>
                        </div>
                        <div class="modal-footer flex-nowrap p-0"> 
                            <button type="button" class="btn text-light btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" data-bs-dismiss="modal">Close</button>
                            <button id="AddPictureButton" type="button" class="btn text-info btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    </header>
    <hr>

    <section class="pictures-container">
        {% for picture in room.pictures.all %}
            <div class="picture-container ">

                {% if room.owner == request.user %}
                    <button title="Options" class="option-btn border rounded-circle border-light text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            :
                    </button>
                    <div class="dropstart btn-group pic-option p-1 rounded-circle ">

                        <ul class="dropdown-menu">
                            <li class="dropdown-item d-flex align-items-center">
                                <i class="fa-solid fa-download fa-lg"></i>
                                <button class="dropdown-item">download <span class="visually-hidden">picture</span></button>
                            </li>

                            <hr class="m-1">
                            <li class="dropdown-item d-flex align-items-center">
                                <i class="fa-solid fa-trash fa-lg text-danger "></i>
                                <form class="del-picture-form"  action="{% url 'delete-picture' picture.pk %}" method="post">
                                    <button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#ConfirmPictureDeletion">Delete <span class="visually-hidden">picture</span></button>
                                    {% csrf_token %}
                               </form> 
                            </li>

                        </ul>

                    </div> 
                {% endif %}

                <img loading="lazy" class="img-fluid shadow-lg" src="{{ picture.image.url }}">

            </div>
        {% endfor %}
    </section>

{% endblock %}



