{% extends 'gallery/layouts/display.html' %}

{% block title %}
	{{ room.name }}
{% endblock %}

{% block head %}
<style>
body {
}
.pictures-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1rem;
    
}
.picture-container, .picture-container img  {
    position: relative;
    border-radius: 10px;
}

@media (max-width: 45em) {
    .pictures-container {
        grid-template-columns: 1fr;
    

}

.pic-option {
    position: absolute;
    z-index: 2;
    right: 0;
}

}

</style>
<script>
    $(document).ready(()=> {
        const addPictureForm = $("#AddPictureForm");
        $("#AddPictureButton").click(()=> {
            addPictureForm.submit();
        })

        $(".delete-picture-btn").click(() => {

        })

        
    })
</script>

{% endblock %}

{% block content %}

    <header>
        <h1 class="mb-0"><strong>{{ room.name }}</strong></h1> 
        <p class="m-0">{{ room.discription }}</p>

            <div>
                <h4 class="mb-0 mt-4"><strong>Owner :</strong></h4>
                <a title="{{room.owner.get_full_name}}" class="ms-1 text-secondary text-decoration-none" href="{{ room.owner.get_absolute_url }}"<p>{{ room.owner.username }}</p></a>
            </div>

            {% if request.user == room.owner %}
            <div class="btn-group dropend">
                <button class="btn btn-sm btn-outline-light dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded='false'>
                    Options
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'edit-room' room.pk %}">Edit room</a></li>
                    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#AddRoom">Add picture</button></li>
                    <li><button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#ConfirmRoomDeletion">Delete room</button></li>
                </ul>
            </div>
            <div class="modal fade" id="ConfirmRoomDeletion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ConfirmRoomDeletionLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ConfirmRoomDeletionLabel"><span class="text-danger">Delete Room</span></h1>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this room? all pictures will be deleted forever
                        </div>
                        <div class="modal-footer"> 
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{% url 'delete-room' room.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete anyway" class="btn btn-outline-danger">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="AddRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddRoomLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="AddRoomLabel"><span class="text-light">Add picture to {{ room.name }}</span></h1>
                        </div>
                        <div class="modal-body">
                            <form id="AddPictureForm" action="{% url 'add-picture'%}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_div }}
                            </form>
                        </div>
                        <div class="modal-footer"> 
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="AddPictureButton" type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    </header>
    <hr>

    <section class="pictures-container">
        {% for picture in room.pictures.all %}
            <div class="picture-container">
                <div class="dropstart btn-group pic-option">
                    <button title="Options" class="btn btn-sm btn-outline-dark dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded='false'>:</button>

                    <ul class="dropdown-menu">
                        <li class="dropdown-item">home</li>
                    </ul>

                    <form action="{% url 'delete-picture' picture.pk %}" method="post">
                        {% csrf_token %}
                    </form>
                </div>

                <img loading="lazy" class="img-fluid" src="{{ picture.image.url }}">

            </div>
        {% endfor %}
    </section>

{% endblock %}


