{% extends 'gallery/layouts/display.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block title %}index {% endblock %}
    {% block content %}
		<main class="container-fluid text-center">
			<div class="text-danger-emphasis mb-5">
				<h1>INDEX</h1>
			</div>
			<hr>

			{% for room in room_list %}
			
				
			<h1><a class="link-info" href="{{ room.get_absolute_url }}">{{ room.name }}</a></h1>

				<h1>{{ room.owner.username }}</h1>
				<hr>
			{% endfor %}
		</main>
    {% endblock %}

</html>
