{% extends 'gallery/layouts/display.html' %}
{% load static %}
{% block title %}index {% endblock %}
{% block content %}

        <div class="mb-4 mt-2">
            <h1 class="text-dark-emphasis" ><strong>All Rooms :</strong></h1>
            <div class="mb-3"></div>
        </div>


        <div class="container-fluid ps-0 rooms-container">
            {% for room in room_list %}
                <a class="text-decoration-none text-secondary" href="{{ room.get_absolute_url }}">
                    <div class="room-container border border-light">
                        {% if room.background %}
                        <div class="room-image">
                            <img src="{{ room.background.url }}" class="img-fluid" alt="...">
                        </div>
                        {% endif %}
                        <div class="room-body m-1 p-2">
                            <h3 class="card-title text-light">{{ room.name|capfirst }}</h3>
                            <p class="card-text">{{ room.discription|capfirst }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
{% endblock %}













































