* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h-100vh {
    min-height: 100vh; !important
}

/* Layout Design */
nav {
    min-width: 60px;
}

main {
    position: relative;
    grid-area: 'main';
    min-height: 100vh;
    flex-grow: 1;
}


/* Profile page Design */

.rooms-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}
.room-container {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.room-container .room-image {
    width: fit-content;
    margin-left: 0;

}
.room-image img {
    border-radius: 10px 10px 0 0;
}
.room-body {
    display: flex;
    flex-direction: column;
}
.room-body a {
    margin-top: auto;
}

#personal-info {

}
@media (min-width: 658px) {
    .rooms-container {
        grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    }
    .room-body a {
        margin: auto 0 0 auto; 
    }
}

a {
  text-decoration: none !important;
}
