{% load static %}
<!DOCTYPE html>
<html lang='en'>

	<head>

		<!-- Meta tags -->
		<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
		<meta charset="utf-8">
		<meta name="description" content="Xallery is the most beautiful gallery in the Galaxy">

        {% load bootstrap5 %}


        <!--stylesheets-->
		<link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'CSS/icon-bar.css' %}"/>
		<link rel="icon" href="{% static 'ICONS/xallery-32x32.png' %}"/>

		<!-- JavaScript files -->
		<script src="{% static 'JS/poper.min.js' %}" defer></script>
		<script src="{% static 'JS/bootstrap.min.js' %}" defer></script>
		<script src="{% static 'JS/jquery-3.6.4.min.js' %}"></script>
		<script src="{% static 'JS/script.js' %}" defer></script>

		{% block head %} {% endblock %}
		<title>{% block title %} {% endblock %}</title>
		
		<style>
		</style>
        <script>

            $(document).ready(()=> {
                $('.remove-message-btn').click(()=> {
                    $('.alert-message').remove();
                })


                $('input[type="text"], input[type="password"], input[type="email"], input[type="image"]').addClass('form-control text-dark');

                $('h1').addClass('text-dark-emphasis')

            })

        </script>
        <style>
            /* nav {
                width: 70px;
                transition: 0.4s;

            }
            nav:hover {
                width: 300px;
            } */
        </style>
	</head>
    <body class="h-100vh" data-bs-theme='dark'>

        <!-- start of template -->
        <div class="d-flex flex-column flex-sm-row ms-2 me-2">
            <!-- Side navigation bar -->
            <nav data-bs-theme="dark" class="d-flex align-items-center rounded-3 mt-2 mb-2 shadow flex-row align-items-cneter flex-shrink-0  p-2 border border-light  justify-content-center flex-sm-column " >
                <div class="nav nav-pills flex-row flex-sm-column align-items-center justify-content-sm-start justify-content-between flex-grow-1 ">
                    <a href="{% url 'list-all-rooms' %}" class="navbar-brand  fw-bold d-flex justify-content-center ">
                        <span class="fs-1 text-secondary me-3 ms-3 ">X</span>
                    </a>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'list-all-rooms' %}">
                                <i class="fa-solid fa-house text-light "></i>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ request.user.get_absolute_url }}">
                                <i class="fa-solid fa-user text-light"></i>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'order-home' %}">
                                <i class="fa-solid text-light"><strong>O</strong></i>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'add-room' %}">
                                <i class="fa-solid fa-plus text-light"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="{% url 'login'%}?nex={{ request.path }}">
                              <i class="fa-solid fa-sign-in fa-lg text-light"></i>
                            </a>
                        </li>

                    {% endif %}
                </div>
            </nav>

            <!-- Main dynamic content-->
            <main class=" ms-2 pt-4">
                <section class="container">
                    <section class="messages alert-message">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="d-flex justify-content-center align-items-center alert alert-warning">
                                <p class="m-0">{{ message }}</p>
                                <button type="button" class="ms-auto remove-message-btn btn-close xt-light" aria-label="close" data-bs-theme="dark" ></button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </section>
                    {% block body %} {% endblock %}
                </section>
            </main>

        </div>
        <!-- end of template -->
    </body>
    
</html>
