{% load static %}
<!DOCTYPE html>
<html lang='en'>

	<head>

		<!-- Meta tags -->
		<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
		<meta charset="utf-8">
		<meta name="description" content="Xallery is the most beautiful gallery in the Galaxy">

        {% load bootstrap5 %}


        <!--stylesheets-->
		<link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'CSS/icon-bar.css' %}"/>
		<link rel="icon" href="{% static 'ICONS/xallery-32x32.png' %}"/>

		<!-- JavaScript files -->
		<script src="{% static 'JS/poper.min.js' %}" defer></script>
		<script src="{% static 'JS/bootstrap.min.js' %}" defer></script>
		<script src="{% static 'JS/jquery-3.6.4.min.js' %}"></script>
		<script src="{% static 'JS/script.js' %}" defer></script>

		{% block head %} {% endblock %}
		<title>{% block title %} {% endblock %}</title>
		
		<style>
		</style>
        <script>
            $(document).ready(()=> {
                $('.remove-message-btn').click(()=> {
                    $('.alert-message').remove();
                })
                
                $('input[type="text"], input[type="password"], input[type="email"], input[type="image"]').addClass('form-control text-dark');
                
                $('h1').addClass('text-dark-emphasis')
            })

        </script>
        <style>
        </style>
	</head>
    <body data-bs-theme='dark' class="bg-info-subtle">

        <!-- start of template -->
        <div class="template container-fluid">

            <!-- Side navigation bar -->
            <nav data-bs-theme="dark" class="d-flex rounded-3 mt-1 mb-1  text-black flex-column align-items-cneter flex-shrink-0 p-2 bg-gradient " >
                <a href="{% url 'list-all-rooms' %}" class="navbar-brand  text-black fw-bold d-flex justify-content-center ">
                    <span class="fs-1 text-info ">X</span>
                </a>
                <hr>
                <div class="nav nav-pills flex-column mb-auto align-items-center flex-grow-1 text-danger ">

                    {% if request.user.is_authenticated %}
                        <li class="nav-item mb-2">
                            <a class="nav-link " href="{% url 'list-all-rooms' %}">
                                <i class="fa-solid fa-house fa-lg text-light "></i>
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="{{ request.user.get_absolute_url }}">
                                <i class="fa-solid fa-user fa-lg text-light"></i>
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="{% url 'add-room' %}">
                                <i class="fa-solid fa-plus fa-lg text-light"></i>
                            </a>
                        </li>
                        <!--<a title="home page" href="{% url 'list-all-rooms' %}" class="icon text-light text-decoration-none bg-dark text-center d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-house fa-lg" style="color: #9a9996;"></i>
                        </a>
                        <a title="profile" href="{{ request.user.get_absolute_url }}"  class="icon text-light text-decoration-none bg-dark text-center d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-user fa-lg" style="color: #9a9996;"></i>
                        </a>
                        <a title="create room" href="{% url 'add-room' %}" class="icon text-light text-decoration-none bg-dark text-center d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus fa-lg" style="color: #9a9996;"></i>
                        </a> -->
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login'%}?nex={{ request.path }}">
                                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                                login
                            </a>
                        </li>
                       <!-- <a  href="{% url 'login'%}?nex={{ request.path }}" class="icon text-light text-decoration-none bg-dark text-center d-flex justify-content-center align-items-center">
                            Login
                        </a> -->
                    {% endif %}
                </div>
            </nav>

            <!-- Main dynamic content-->
            <main class="h-100vh ms-2 pt-4">
                <section class="container-fluid">
                    <section class="messages alert-message">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="d-flex justify-content-center align-items-center alert alert-{{ message.tags }}">
                                <p class="m-0">{{ message }}</p>
                                <button type="button" class="ms-auto remove-message-btn btn-close xt-light" aria-label="close" data-bs-theme="dark" ></button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </section>
                    {% block body %} {% endblock %}
                </section>
            </main>

        </div>
        <!-- end of template -->
    </body>
    
</html>
